/SampleDatabaseWalkthrough/obj
/SampleDatabaseWalkthrough/bin

/SampleDatabaseWalkthrough.v12.suo
/SampleDatabaseWalkthrough/bin
/SampleDatabaseWalkthrough/obj
/SampleDatabaseWalkthrough/bin
/SampleDatabaseWalkthrough/obj
